@import "/assets/customcss/editors/stackoverflow-dark.css";
:root {
    --bs-author-background: #444444;
    --bs-author-text: #ffffff;
    --bs-avatar-animation-bg-rgba: var(--bs-info-rgb, 0.8);
    --bs-blockquote-background: rgba(52, 152, 219, 0.3);
    --bs-blockquote-border: #5e81ac;
    --bs-blockquote-link: #5e81ac;
    --bs-body-bg-rgb: #375A7F;
    --bs-body-bg: #222222;
    --bs-body-color-muted: #ffffffa6;
    --bs-body-color-primary: #ffffff;
    --bs-body-color-rgb: inherit;
    --bs-body-color: #eceff4;
    --bs-body-line-height: 1.8;
    --bs-body-navbar-active: rgba(76, 86, 106, 0.3);
    --bs-body-component-active: rgba(76, 86, 106, 0.1);
    --bs-body-navbar: #303030;
    --bs-body-navbar-color: #eceff4;
    --bs-border-color: #444444;
    --bs-card-bg: #303030;
    --bs-card-cap-bg: #303030;
    --bs-code-block: #303030;
    --bs-code-color: #3498DB;
    --bs-danger-rgb: 191, 97, 106;
    --bs-font-sans-serif: "Poppins";
    --bs-info-rgb: 55, 90, 127;
    --bs-input-background: #434c5e;
    --bs-input-focus: rgba(32, 55, 76, 0.3);
    --bs-link-color: #00bc8c;
    --bs-link-hover-color: #009670;
    --bs-popular-tag-bg-transparent: linear-gradient(45deg, rgba(46, 52, 64, 0.4) 0%, rgba(59, 66, 82, 0.4) 30%, rgba(67, 76, 94, 0.4) 60%, rgba(76, 86, 106, 0.4) 90%);
    --bs-popular-tag-bg: #242933;
    --bs-post-unread: #e74c3c;
    --bs-primary-rgb: 231, 76, 60;
    --bs-primary-rgb-val: 0.4;
    --bs-progress-bg-bar: rgba(55, 90, 127, 1);
    --bs-scrollbar-track: #424242;
    --bs-selection-color: #2e3440;
    --bs-solved-bg: #00bc8c;
    --bs-solved-color: #265626;
    --bs-resolved-bg-rgba:rgba(55, 90, 127, 0.3);
    --bs-resolved-color: #ffffff;
    --bs-resolved-bg: #375a7f;
    --bs-unresolved-bg-rgba:rgba(231, 76, 60, 0.3);
    --bs-unresolved-color: #bf616a;
    --bs-unresolved-bg: #e74c3c;
    --bs-unreplied-bg-rgba:rgba(243, 156, 18, 0.3);
    --bs-unreplied-color: #D08770;
    --bs-unreplied-bg: #f39c12;
    --bs-tag-bg: #81a1c1;
    --bs-tag-topic-count: #4C566A;
    --bs-user-level: #ff8c00;
    --bs-alert-info-color: #d8dee9;
    --bs-alert-info-bg: #adb5bd;
    --bs-node-card-bg: rgba(48, 48, 48, 0.3);
    --bs-node-card-cap-bg: #303030;
    --bs-node-dropdown-bg: #222222;
    --bs-dropdown-link-hover-bg: rgba(59, 66, 82, 0.6);
    --bs-node-btn-active-bg: #2F4D6C;
    --bs-node-btn-bg: #375a7f;
	--bs-node-btn-color: #eceff4;
    --bs-node-btn-active-color: #ffffff;
}