@import "/assets/customcss/editors/stackoverflow-light.css";
:root {
    --bs-author-background: #fde000;
    --bs-author-text: #000000;
    --bs-avatar-animation-bg-rgba: var(--bs-info-rgb, 0.8);
    --bs-blockquote-background: rgba(22, 24, 27, 0.03);
    --bs-blockquote-border: #0F81C7;
    --bs-blockquote-link: #5e81ac;
    --bs-body-bg-rgb: rgba(0, 0, 0, 0.05);
    --bs-body-bg: #ffffff;
    --bs-body-color-muted: #666666aa;
    --bs-body-color-primary: #666666;
    --bs-body-color-rgb: inherit;
    --bs-body-color: #888888;
    --bs-body-line-height: 1.8;
    --bs-body-navbar-active: #dddddd;
    --bs-body-component-active: rgba(22, 24, 27, 0.03);
    --bs-body-navbar: #eeeeee;
    --bs-body-navbar-color: #666666;
    --bs-border-color: rgba(0, 0, 0, 0.05);
    --bs-card-bg: #eeeeee;
    --bs-card-cap-bg: rgba(22, 24, 27, 0.03);
    --bs-code-block: #ffffff;
    --bs-code-color: #186682;
    --bs-danger-rgb: 191, 97, 106;
    --bs-font-sans-serif: "Poppins";
    --bs-info-rgb: 230, 230, 230;
    --bs-input-background: #f5f5f5;
    --bs-input-focus: rgba(37, 40, 54, 0.1);
    --bs-link-color: #238EB7;
    --bs-link-hover-color: #FF550C;
    --bs-popular-tag-bg-transparent: linear-gradient(45deg, rgba(46, 52, 64, 0.4) 0%, rgba(59, 66, 82, 0.4) 30%, rgba(67, 76, 94, 0.4) 60%, rgba(76, 86, 106, 0.4) 90%);
    --bs-popular-tag-bg: #242933;
    --bs-post-unread: #EF343A;
    --bs-primary-rgb: 239, 52, 58;
    --bs-primary-rgb-val: 0.4;
    --bs-progress-bg-bar: #116F91;
    --bs-scrollbar-track: #424242;
    --bs-selection-color: #2e3440;
    --bs-solved-bg: #C2EDE3;
    --bs-solved-color: #2A8D74;
    --bs-resolved-bg-rgba: #ffffff;
    --bs-resolved-color: #2A8D74;
    --bs-resolved-bg: #C2EDE3;
    --bs-unresolved-bg-rgba: rgba(231, 76, 60, 0.3);
    --bs-unresolved-color: #bf616a;
    --bs-unresolved-bg: #e74c3c;
    --bs-unreplied-bg-rgba: rgba(243, 156, 18, 0.3);
    --bs-unreplied-color: #D08770;
    --bs-unreplied-bg: #ff550b;
    --bs-tag-bg: #81a1c1;
    --bs-tag-topic-count: #4C566A;
    --bs-user-level: #ff8c00;
    --bs-alert-info-color: #666666;
    --bs-alert-info-bg: #ABDDEF;
    --bs-node-card-bg: rgba(255,255,255,1);
    --bs-node-card-cap-bg: rgba(22, 24, 27, 0.03);
    --bs-node-dropdown-bg: #ffffff;
    --bs-dropdown-link-hover-bg: rgba(59, 66, 82, 0.6);
    --bs-node-btn-active-bg: #238EB7;
    --bs-node-btn-bg: #28A2CF;
    --bs-node-btn-color: #eceff4;
    --bs-node-btn-active-color: #ffffff;
}