@import "/assets/customcss/editors/stackoverflow-dark.css";
:root {
    --bs-author-background: #444444;
    --bs-author-text: #ffffff;
    --bs-avatar-animation-bg-rgba: var(--bs-info-rgb, 0.8);
    --bs-blockquote-background: rgba(149, 165, 166, 0.3);
    --bs-blockquote-border: #0000002d;
    --bs-blockquote-link: #5e81ac;
    --bs-body-bg-rgb: #3F4044;
    --bs-body-bg: #3F4044;
    --bs-body-color-muted: #95a5a6;
    --bs-body-color-primary: #ffffff;
    --bs-body-color-rgb: inherit;
    --bs-body-color: #ffffff;
    --bs-body-line-height: 1.8;
    --bs-body-navbar-active: rgba(21, 23, 22, 0.3);
    --bs-body-component-active: rgba(21, 23, 22, 0.1);
    --bs-body-navbar: #5C5D60;
    --bs-body-navbar-color: #ffffff;
    --bs-border-color: #75757573;
    --bs-card-bg: #46484A;
    --bs-card-cap-bg: #1517164a;
    --bs-code-block: #151716;
    --bs-code-color: #3498DB;
    --bs-danger-rgb: 191, 97, 106;
    --bs-font-sans-serif: "Poppins";
	--bs-info-rgb: 172, 174, 169;		
    --bs-input-background: #434c5e;
    --bs-input-focus: rgba(32, 55, 76, 0.3);
    --bs-link-color: #c0c0c0;
    --bs-link-hover-color: #F2C82A;
    --bs-popular-tag-bg-transparent: linear-gradient(45deg, rgba(46, 52, 64, 0.4) 0%, rgba(59, 66, 82, 0.4) 30%, rgba(67, 76, 94, 0.4) 60%, rgba(76, 86, 106, 0.4) 90%);
    --bs-popular-tag-bg: #242933;
    --bs-post-unread: #e74c3c;
    --bs-primary-rgb: 231, 76, 60;
    --bs-primary-rgb-val: 0.4;
    --bs-progress-bg-bar: rgba(172, 174, 169, 1);
    --bs-scrollbar-track: #95A5A6;
    --bs-selection-color: #2e3440;
    --bs-solved-bg: #18bc9c;
    --bs-solved-color: #265626;
    --bs-resolved-bg-rgba: rgba(52, 152, 219, 0.3);
    --bs-resolved-color: #ffffff;
    --bs-resolved-bg: #3498db;
    --bs-unresolved-bg-rgba: rgba(231, 76, 60, 0.3);
    --bs-unresolved-color: #bf616a;
    --bs-unresolved-bg: #e74c3c;
    --bs-unreplied-bg-rgba: rgba(243, 156, 18, 0.3);
    --bs-unreplied-color: #D08770;
    --bs-unreplied-bg: #f39c12;
    --bs-tag-bg: #81a1c1;
    --bs-tag-topic-count: #4C566A;
    --bs-user-level: #ff8c00;
    --bs-alert-info-color: #ffffff;
    --bs-alert-info-bg: #444444;
	--bs-node-card-bg: rgba(92, 93, 96, 0.15);
    --bs-node-card-cap-bg: #1516152b;
    --bs-node-dropdown-bg: #3F4044;
    --bs-dropdown-link-hover-bg: rgba(59, 66, 82, 0.6);
    --bs-node-btn-active-bg: #7f8c8d;
    --bs-node-btn-bg: #95a5a6;
    --bs-node-btn-color: #ffffff;
    --bs-node-btn-active-color: #ffffff;
}