@import "/assets/customcss/editors/material-darker.css";

:root {
    --bs-author-background: #f5f5f5;
    --bs-author-text: #000000;
    --bs-avatar-animation-bg-rgba: var(--bs-info-rgb, 0.8);
    --bs-blockquote-background: rgba(56, 56, 56, 0.6);
    --bs-blockquote-border: #2793e8;
    --bs-blockquote-link: #5e81ac;
    --bs-body-bg-rgb: #2A2A2A;
    --bs-body-bg: #212121;
    --bs-body-color-muted: #ffffffa6;
    --bs-body-color-primary: #ffffff;
    --bs-body-color-rgb: inherit;
    --bs-body-color: #e3e3e3;
    --bs-body-line-height: 1.8;
    --bs-body-navbar-active: #393B3C;
    --bs-body-component-active: #353535;
    --bs-body-navbar: #1E1E1E;
    --bs-body-navbar-color: #B0B3B8;
    --bs-border-color: #323232;
    --bs-card-bg: #383838;
    --bs-card-cap-bg: #303030;
    --bs-code-block: #1B1B1B;
    --bs-code-color: #3498DB;
    --bs-danger-rgb: 191, 97, 106;
    --bs-font-sans-serif: "Poppins";
    --bs-info-rgb: 53, 53, 53;
    --bs-info-rgba: 1;
    --bs-input-background: #252836;
    --bs-input-focus: rgba(63, 63, 63, 0.3);
    --bs-link-color: #03a9f4;
    --bs-link-hover-color: #81d4fa;
    --bs-popular-tag-bg-transparent: linear-gradient(45deg, rgba(46, 52, 64, 0.4) 0%, rgba(59, 66, 82, 0.4) 30%, rgba(67, 76, 94, 0.4) 60%, rgba(76, 86, 106, 0.4) 90%);
    --bs-popular-tag-bg: #2E2E2E;
    --bs-post-unread: #03a9f4;
    --bs-primary-rgb: 207, 102, 121;
    --bs-primary-rgb-val: 0.6;
    --bs-progress-bg-bar: rgba(63, 63, 63, 1);
    --bs-scrollbar-track: #424242;
    --bs-selection-color: #2e3440;
    --bs-solved-bg: #00C851;
    --bs-solved-color: #007E33;
    --bs-resolved-bg-rgba: rgba(55, 90, 127, 0.3);
    --bs-resolved-color: #ffffff;
    --bs-resolved-bg: #0099CC;
    --bs-unresolved-bg-rgba: rgba(231, 76, 60, 0.3);
    --bs-unresolved-color: #bf616a;
    --bs-unresolved-bg: #e74c3c;
    --bs-unreplied-bg-rgba: rgba(255, 187, 51, 0.3);
    --bs-unreplied-color: #D08770;
    --bs-unreplied-bg: #FF8800;
    --bs-tag-bg: #81a1c1;
    --bs-tag-topic-count: #4C566A;
    --bs-user-level: #ff8800;
    --bs-alert-info-color: #ffffff;
    --bs-alert-info-bg: #0099CC;
    --bs-alert-info-border: #33b5e5;
	--bs-alert-alert-bg: #CC0000;
	--bs-alert-alert-border: #CC0000;
	--bs-alert-alert-text: #ffffff;
    --bs-node-card-bg: #292929;
    --bs-node-card-cap-bg: #292929;
    --bs-node-dropdown-bg: #2E2E2E;
    --bs-node-dropdown-link-hover-bg: #363636;
    --bs-node-btn-active-bg: #292B2E;
    --bs-node-btn-bg: #111111;
    --bs-node-btn-color: #e3e3e3;
    --bs-node-btn-active-color: #03a9f4;
}