@import "/assets/customcss/editors/nord.css";

:root {
    --bs-author-background: #434c5e;
    --bs-author-text: #eceff4;
    --bs-avatar-animation-bg-rgba: var(--bs-info-rgb, 0.8);
    --bs-blockquote-background: rgba(94, 129, 172, 0.3);
    --bs-blockquote-border: #5e81ac;
    --bs-blockquote-link: #5e81ac;
    --bs-body-bg-rgb: #242931;
    --bs-body-bg: #242931;
    --bs-body-color-muted: #88c0d0;
    --bs-body-color-primary: #ffffff;
    --bs-body-color-rgb: inherit;
    --bs-body-color: #eceff4;
    --bs-body-line-height: 1.8;
    --bs-body-navbar-active: rgba(76, 86, 106, 0.3);
    --bs-body-component-active: rgba(76, 86, 106, 0.1);
    --bs-body-navbar: #2e3440;
    --bs-body-navbar-color: #eceff4;
    --bs-border-color: #88c0d038;
    --bs-card-bg: #4C566A;
    --bs-card-cap-bg: #2e3440;
    --bs-code-block: #2E3440;
    --bs-code-color: #b48ead;
    --bs-danger-rgb: 191, 97, 106;
    --bs-font-sans-serif: "Poppins";
    --bs-info-rgb: 94, 129, 172;
    --bs-input-background: #434c5e;
    --bs-input-focus: rgba(94, 129, 172, 0.3);
    --bs-link-color: #8fbcbb;
    --bs-link-hover-color: #4E6468;
    --bs-popular-tag-bg-transparent: linear-gradient(45deg, rgba(46, 52, 64, 0.4) 0%, rgba(59, 66, 82, 0.4) 30%, rgba(67, 76, 94, 0.4) 60%, rgba(76, 86, 106, 0.4) 90%);
    --bs-popular-tag-bg: #242933;
    --bs-post-unread: #e57c87;
    --bs-primary-rgb: 191, 97, 106;
    --bs-primary-rgb-val: 0.4;
    --bs-progress-bg-bar: rgba(94, 129, 172, 1);
    --bs-scrollbar-track: #e5e9f0;
    --bs-selection-color: #2e3440;
    --bs-solved-bg: #A3BE8C;
    --bs-solved-color: #204a37;
    --bs-resolved-bg-rgba:rgba(94,129,172,0.3);
    --bs-resolved-color: #ffffff;
    --bs-resolved-bg: #5e81ac;
    --bs-unresolved-bg-rgba:rgba(191,97,106,0.3);
    --bs-unresolved-color: #bf616a;
    --bs-unresolved-bg: #bf616a;
    --bs-unreplied-bg-rgba:rgba(208,135,112,0.3);
    --bs-unreplied-color: #D08770;
    --bs-unreplied-bg: #D08770;
    --bs-tag-bg: #81a1c1;
    --bs-tag-topic-count: #4C566A;
    --bs-user-level: #ff8c00;
    --bs-alert-info-color: #d8dee9;
    --bs-alert-info-bg: #3b4252;
    --bs-node-card-bg: rgba(59, 66, 82, 0.3);
    --bs-node-card-cap-bg: #2e3440;
    --bs-node-dropdown-bg: #242931;
    --bs-dropdown-link-hover-bg: rgba(59, 66, 82, 0.6);
    --bs-node-btn-active-bg: #353B4A;
    --bs-node-btn-bg: #3b4252;
	--bs-node-btn-color: #eceff4;
    --bs-node-btn-active-color: #ffffff;
}