:root {
    --bs-author-background: #434c5e;
    --bs-author-text: #eceff4;
    --bs-avatar-animation-bg-rgba: var(--bs-info-rgb, 0.8);
    --bs-blockquote-background: rgba(122, 130, 136, 0.3);
    --bs-blockquote-border: #7a8288;
    --bs-blockquote-link: #5e81ac;
    --bs-body-bg-rgb: #272b30;
    --bs-body-bg: #272b30;
    --bs-body-color-muted: #7a8288;
    --bs-body-color-primary: #ffffff;
    --bs-body-color-rgb: inherit;
    --bs-body-color: #aaaaaa;
    --bs-body-line-height: 1.8;
    --bs-body-navbar-active: rgba(76, 86, 106, 0.3);
    --bs-body-component-active: rgba(76, 86, 106, 0.1);
    --bs-body-navbar: #3A3F44;
    --bs-body-navbar-color: #aaaaaa;
    --bs-border-color: #aaaaaa29;
    --bs-card-bg: #585E63;
    --bs-card-cap-bg: #7a82884f;
    --bs-code-block: #111111;
    --bs-code-color: #b48ead;
    --bs-danger-rgb: 191, 97, 106;
    --bs-font-sans-serif: "Poppins";
    --bs-info-rgb: 122, 130, 136;
    --bs-input-background: #434c5e;
    --bs-input-focus: rgba(50, 56, 62, 1);
    --bs-link-color: #dddddd;
    --bs-link-hover-color: #cccccc;
    --bs-popular-tag-bg-transparent: linear-gradient(45deg, rgba(46, 52, 64, 0.4) 0%, rgba(59, 66, 82, 0.4) 30%, rgba(67, 76, 94, 0.4) 60%, rgba(76, 86, 106, 0.4) 90%);
    --bs-popular-tag-bg: #242933;
    --bs-post-unread: #ee5f5b;
    --bs-primary-rgb: 238, 95, 91;
    --bs-primary-rgb-val: 0.4;
    --bs-progress-bg-bar: rgba(122, 130, 136, 1);
    --bs-scrollbar-track: #e5e9f0;
    --bs-selection-color: #2e3440;
    --bs-solved-bg: #62c462;
    --bs-solved-color: #204a37;
    --bs-resolved-bg-rgba: rgba(91, 192, 222, 0.3);
    --bs-resolved-color: #ffffff;
    --bs-resolved-bg: #5bc0de;
    --bs-unresolved-bg-rgba: rgba(238, 95, 91, 0.3);
    --bs-unresolved-color: #bf616a;
    --bs-unresolved-bg: #ee5f5b;
    --bs-unreplied-bg-rgba: rgba(248, 148, 6, 0.3);
    --bs-unreplied-color: #D08770;
    --bs-unreplied-bg: #f89406;
    --bs-tag-bg: #81a1c1;
    --bs-tag-topic-count: #4C566A;
    --bs-user-level: #ff8c00;
    --bs-alert-info-color: #d8dee9;
    --bs-alert-info-bg: #444444;
    --bs-node-card-bg: rgba(59, 66, 82, 0.3);
    --bs-node-card-cap-bg: #585E63;
    --bs-node-dropdown-bg: #272b30;
    --bs-dropdown-link-hover-bg: rgba(59, 66, 82, 0.6);
    --bs-node-btn-active-bg: #2A2D31;
    --bs-node-btn-bg: #3a3f44;
    --bs-node-btn-color: #eceff4;
    --bs-node-btn-active-color: #ffffff;
}