@import "/assets/customcss/editors/stackoverflow-light.css";
:root {
    --bs-author-background: #71869d;
    --bs-author-text: #ffffff;
    --bs-avatar-animation-bg-rgba: var(--bs-info-rgb, 0.8);
    --bs-blockquote-background: rgba(113,134,157,.15);
    --bs-blockquote-border: #71869d2d;
    --bs-blockquote-link: #5e81ac;
    --bs-body-bg-rgb: #ffffff;
    --bs-body-bg: #ffffff;
    --bs-body-color-muted: #95a5a6;
    --bs-body-color-primary: #6c7778;
    --bs-body-color-rgb: inherit;
    --bs-body-color: #888888;
    --bs-body-line-height: 1.8;
    --bs-body-navbar-active: rgba(156, 196, 216, 0.6);
    --bs-body-component-active: rgba(185,203,213, 0.1);
    --bs-body-navbar: #C6DDE9;
    --bs-body-navbar-color: #666666;
    --bs-border-color: #2852671f;
    --bs-card-bg: #C6DDE9;
    --bs-card-cap-bg: #ffffff;
    --bs-code-block: #f9f9f9;
    --bs-code-color: #3498DB;
    --bs-danger-rgb: 191, 97, 106;
    --bs-font-sans-serif: "Poppins";
    --bs-info-rgb: 9,165,190;
    --bs-input-background: #434c5e;
    --bs-input-focus: rgba(255, 255, 255, 1);
    --bs-link-color: #326780;
    --bs-link-hover-color: #000000;
    --bs-popular-tag-bg-transparent: linear-gradient(45deg, rgba(46, 52, 64, 0.4) 0%, rgba(59, 66, 82, 0.4) 30%, rgba(67, 76, 94, 0.4) 60%, rgba(76, 86, 106, 0.4) 90%);
    --bs-popular-tag-bg: #242933;
    --bs-post-unread: #bf616a;
    --bs-primary-rgb: 200, 124, 154;
    --bs-primary-rgb-val: 0.4;
    --bs-progress-bg-bar: #DED5A7;
    --bs-scrollbar-track: #95A5A6;
    --bs-selection-color: #2e3440;
    --bs-solved-bg: #bbe3e1;
    --bs-solved-color: #265626;
    --bs-resolved-bg-rgba: rgba(9,165,190,.15);
    --bs-resolved-color: #ffffff;
    --bs-resolved-bg: #09a5be;
    --bs-unresolved-bg-rgba: rgba(237,76,120,0.1);
    --bs-unresolved-color: #bf616a;
    --bs-unresolved-bg: #ed4c78;
    --bs-unreplied-bg-rgba: rgba(255, 152, 53, 0.3);
    --bs-unreplied-color: #D08770;
    --bs-unreplied-bg: #ff9835;
    --bs-tag-bg: #81a1c1;
    --bs-tag-topic-count: #4C566A;
    --bs-user-level: #ff8c00;
    --bs-alert-info-color: #677788;
    --bs-alert-info-bg: #D8E8F0;
    --bs-node-card-bg: rgba(236, 240, 241, 0.3);
    --bs-node-card-cap-bg: #d3e5ee6e;
    --bs-node-dropdown-bg: #ffffff;
    --bs-dropdown-link-hover-bg: rgba(59, 66, 82, 0.6);
    --bs-node-btn-active-bg: #326781;
    --bs-node-btn-bg: #4690b4;
    --bs-node-btn-color: #ffffff;
    --bs-node-btn-active-color: #ffffff;
}