@import "/assets/customcss/editors/android-studio.css";
:root {
    --bs-author-background: #fde000;
    --bs-author-text: #000000;
    --bs-avatar-animation-bg-rgba: var(--bs-info-rgb, 0.8);
    --bs-blockquote-background: rgba(34, 34, 34, 0.8);
    --bs-blockquote-border: #2a9fd6;
    --bs-blockquote-link: #5e81ac;
    --bs-body-bg-rgb: #0D0D0D;
    --bs-body-bg: #060606;
    --bs-body-color-muted: #ffffffa6;
    --bs-body-color-primary: #ffffff;
    --bs-body-color-rgb: inherit;
    --bs-body-color: #adafae;
    --bs-body-line-height: 1.8;
    --bs-body-navbar-active: rgba(185, 187, 186, 0.3);
    --bs-body-component-active: rgba(185, 187, 186, 0.1);
    --bs-body-navbar: #555555;
    --bs-body-navbar-color: #adafae;
    --bs-border-color: #282828;
    --bs-card-bg: #555555;
    --bs-card-cap-bg: #303030;
    --bs-code-block: #000000;
    --bs-code-color: #3498DB;
    --bs-danger-rgb: 191, 97, 106;
    --bs-font-sans-serif: "Poppins";
    --bs-info-rgb: 34, 34, 34;
    --bs-input-background: #252836;
    --bs-input-focus: rgba(37, 40, 54, 0.3);
    --bs-link-color: #2a9fd6;
    --bs-link-hover-color: #184359;
    --bs-popular-tag-bg-transparent: linear-gradient(45deg, rgba(46, 52, 64, 0.4) 0%, rgba(59, 66, 82, 0.4) 30%, rgba(67, 76, 94, 0.4) 60%, rgba(76, 86, 106, 0.4) 90%);
    --bs-popular-tag-bg: #242933;
    --bs-post-unread: #c00000;
    --bs-primary-rgb: 192, 0, 0;
    --bs-primary-rgb-val: 0.4;
    --bs-progress-bg-bar: rgba(34, 34, 34, 1);
    --bs-scrollbar-track: #424242;
    --bs-selection-color: #2e3440;
    --bs-solved-bg: #77b300;
    --bs-solved-color: #265626;
    --bs-resolved-bg-rgba: rgba(55, 90, 127, 0.3);
    --bs-resolved-color: #ffffff;
    --bs-resolved-bg: #375a7f;
    --bs-unresolved-bg-rgba: rgba(231, 76, 60, 0.3);
    --bs-unresolved-color: #bf616a;
    --bs-unresolved-bg: #e74c3c;
    --bs-unreplied-bg-rgba: rgba(243, 156, 18, 0.3);
    --bs-unreplied-color: #D08770;
    --bs-unreplied-bg: #FF8800;
    --bs-tag-bg: #81a1c1;
    --bs-tag-topic-count: #4C566A;
    --bs-user-level: #ff8c00;
    --bs-alert-info-color: #ffffff;
    --bs-alert-info-bg: #868E96;
    --bs-node-card-bg: rgba(48, 48, 48, 0.3);
    --bs-node-card-cap-bg: #222222;
    --bs-node-dropdown-bg: #060606;
    --bs-dropdown-link-hover-bg: rgba(59, 66, 82, 0.6);
    --bs-node-btn-active-bg: #484848;
    --bs-node-btn-bg: #555555;
    --bs-node-btn-color: #eceff4;
    --bs-node-btn-active-color: #ffffff;
}